

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
}
.page6{
  min-height: 100vh;
  width: 100%;
  z-index: 9;
  position: relative;
  padding: 170px 100px;
  background-color: black;
}
.elem-page6{
  /* background-color: salmon; */
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.elem-page6 img{
  position: absolute;
  opacity: 0;
  transition: all ease-out 0.5s;
  transform: translateY(10%) rotate(2deg);
  height: 60vh;
  width: 45vh;
}
.elem-page6 img:nth-child(1){
  left: 2%;
}
.elem-page6 img:nth-child(3){
  right: 5%;
}
.text-div{
  height: 16vh;
  position: relative;
  z-index: 9;
  overflow: hidden;
}
.elem-page6 h1{
  font-size: 7.5vw;
  font-weight: 600;
  transition: all ease-out 0.5s;
}

.elem-page6:hover h1{
  transform: translateY(-100%);
  color: #EDBFFF;
}
.elem-page6:hover img{
  opacity: 1;
  transform: translateY(0%) rotate(0deg);

}
