@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
 

html,
body {
    height: 100%;
    width: 100%;
   
    
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}



#baa video {
    height: 100vh;
    width: 100%;
    object-fit: cover;
    z-index: -1;
    position: fixed;
    overflow-y: hidden;
} 

#main{
    height:auto;
    width: 100%;
 
    overflow-x: hidden;
    align-items: center;
    justify-content: center;
    position: relative;
}

#navbar{
    height: 9vh;
    width: 100vw;
    background-color: black;
    top: 0;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 999;
}
.nav-left{
    display: flex;
    height:100%;
    width:45vw ;
    padding-left: 1vw;
    padding-right: 1vw;
    align-items: center;
    justify-content: space-between;
    }
    .brand{
        height:50%;
        width: 8vw;
        cursor: pointer;
    }
    h1{
        color:whitesmoke;
        font-size: 20px;
        font-family:Arial ,sans-serif;
        cursor: pointer;
    }
    h1:hover{
        color:#BB135C;
    }
    .nav-middle{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 30vw;
        
    }

    .nav-search{
        display: flex;
        justify-content: space-evenly;
        background-color: #f3f3f3;
        width: 27vw;
        height: 60%;
        border-radius:20px;
    }
    .search-select{
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: none;
    }
    
    .search-input{
        width: 620px;
        font-size: 1.6rem;
        border: none;
        border-radius: 10px;
  
    }
    .search-icon{
        width: 45px;
        display: flex;
        justify-content:center ;
        align-items: center;
         font-size: 1.5rem;
         background-color: rgb(33, 32, 32);
         border-radius: 10px;
         color: #fafafa;
    }
    
    span{
        font-size: 0.8rem;
    
    }
    .nav-second{
    font: size 0.85rem; 
    font-weight: 700;
    color: #f3f3f3;
    
    }
    .nav-search:hover{
        border: 1px solid rgb(33,32,32);
        
    }

    .nav-right{
        height: 100%;
        width: 25vw;
        display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 30px;
    padding: 0 30px;
       
    }
    
    .ri-shopping-bag-4-line{
        color: #f3f3f3;
        font-size: xx-large;
        border-radius: 80%;
        cursor: pointer;
    }

    .ri-user-fill{
        color: #f3f3f3;
        font-size: xx-large;
        border-radius: 80%;
        cursor: pointer;
    }

#page1{
    height:100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0);
}

#page2{
    width: 100vw;
height: 100vh;

background-color: black;


}


#container-page2{
display: flex;
align-items: center;
justify-content: space-between;

}

#left-page2{
height:100vh;
width: 40vw;

left: 0  !important;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;



}

.image-container {
    width: fit-content;
    max-width: 500px;
    max-height: 90vh;
    height: fit-content;
    border-radius: 8px;
    overflow: hidden;
   
    transition: box-shadow 300ms ease-in-out;
}

.image-container img {
    width: 95%;
    top: 5vh !important;
    height: 89vh;
    object-fit: cover;
    object-position: center;
    transition: transform 300ms ease-in-out, filter 300ms ease-in-out;
}

.image-container:hover {
    box-shadow: 0 }

#right-page2{
height: 100vh;
width: 60vw;

display: flex;
align-items: center;

flex-direction: column;


}

#details-page2{
height:fit-content;
width: 40vw;
margin-top: 20vh;
padding-left: 2vw;
padding-right: 3vw;
padding-bottom: 2vw;
border-bottom: 1.4px solid beige;

}

#details-page2 h1 {
    font-size: 2vw;
    line-height: 5vh;
}

#price-section{
 display: flex;
 align-items: center;
 justify-content: center;
flex-direction: column;



}

#price-section h1{

    text-align: end;
    text-transform: capitalize;
}


#one{
    font-size: 3vw;
    margin-bottom: 1vh;
    margin-top: 2vh;
    text-align: end;
}

#two {
 font-size: 1.5vw;
 margin-bottom: 1.4vh;
 margin-top: 1vh;
}

#three{
    font-size: 1.2vw;
}
#about-page2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top:5vh;
}

#btn-ripple {
    position: relative;
    overflow: hidden;
    height: 50px;
    width: 250px;
    margin-left: 2vw;
    background-color: #ED1556;
    color: white;
    font-size: 1.3vw;
}

.ripples {
    background-color: bisque;
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    pointer-events: none;
}



#btn-ripplea {
    position: relative;
    overflow: hidden;
    height: 50px;
    width: 250px;
    margin-left: 2vw;
    background-color: #ED1556;
    color: white;
    font-size: 1.3vw;
}

.ripplesa {
    background-color: bisque;
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

.zoom-container {
    position: relative;
    width:30vw;
    height: 80vh;
    overflow: hidden;


}

#main-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


#zoomed-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    height: 200%;
    background: url('/images/blaze-curve-list-img.png') no-repeat;
    background-size: 160%;
    pointer-events: none;
    display: none;
}


.container{
   margin-top:45px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    height: 700px;
    /* background: #fc0303;
    box-shadow: 0 30px 50px #fc0202; */
}

.container .slide .item{
    width: 260px;
    height: 350px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    border-radius: 20px;
    box-shadow: 0 30px 50px #2e1010;
    background-position: 50% 50%;
    background-size: cover;
    display: inline-block;
    transition: 0.5s;
    align-items: center;
    object-fit: contain;
}

.slide .item:nth-child(1),
.slide .item:nth-child(2){
    top: 0;
    left: 0;
    transform: translate(0, 0);
    border-radius: 0;
    width: 100%;
    height: 100%;
}


.slide .item:nth-child(3){
    left: 75%;
}
.slide .item:nth-child(4){
    left: calc(75% + 300px);
}
.slide .item:nth-child(5){
    left: calc(75% + 450px);
}

/* here n = 0, 1, 2, 3,... */
.slide .item:nth-child(n + 6){
    left: calc(75% + 750px);
    opacity: 0;
}



.item .content{
    position: absolute;
    top: 50%;
    left: 100px;
    width: 300px;
    text-align: left;
    color: #eee;
    transform: translate(0, -50%);
    font-family: system-ui;
    display: none;
}


.slide .item:nth-child(2) .content{
    display: block;
}


.content .name{
    font-size: 40px;
    text-transform: uppercase;
    font-weight: bold;
    opacity: 0;
    animation: animate 1s ease-in-out 1 forwards;
}

.content .des{
    margin-top: 10px;
    margin-bottom: 20px;
    opacity: 0;
    animation: animate 1s ease-in-out 0.3s 1 forwards;
}

.content button{
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    opacity: 0;
    animation: animate 1s ease-in-out 0.6s 1 forwards;
}
.button i{
    font-size: x-large;
}


@keyframes animate {
    from{
        opacity: 0;
        transform: translate(0, 100px);
        filter: blur(33px);
    }

    to{
        opacity: 1;
        transform: translate(0);
        filter: blur(0);
    }
}



.button{
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 20px;
}

.button button{
    width: 40px;
    height: 35px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    margin: 0 5px;
    border: 1px solid #000;
    transition: 0.3s;
}

.button button:hover{
    background: #ababab;
    color: #fff;

}
.button i:hover{
    color: #f60808;
    
}

 
.container-prefooter{
      max-width: 1500px;
      margin:auto;
  }

  .row-prefooter{
      display: flex;
      flex-wrap: wrap;
      
  }
  
  .pre-footer{
    height: auto;
    width: 100%;
      overflow-x: hidden;
      background-color:#1d1c1c;
      padding: 40px 0 0 1px;
      
     
  }
  .pre-footer:hover{
    border:3.5px solid #fff;
 }
  .prefooter-colm{
      width: 20%;
      padding: 0 15px;
      margin-bottom: 20px;
   }
   .prefooter-colm:hover{
    border:1.5px solid #302020;
    border-radius: 15px;
    transition: 1s;
 }
   .prefooter-colm h4{
       font-size: 18px;
       color: #ffffff;
       text-transform: capitalize;
       margin-bottom: 35px;
       font-weight: 5500;
       font-family: Arial sans-serif;
       position: relative;
       text-align: center;
   }
  
   .prefooter-colm h4::before{
      content: '';
      position: absolute;
      left:0;
      bottom: -10px;
      height: 2px;
      box-sizing: border-box;
      width: 50px;
  }
  
  .prefooter-colm i{ 
      padding: 0px 0px 20px 110px;
      color: #a79e9e;
      font-weight: 1600;
      font-size: xx-large;
  } 
  
  .prefooter-colm i:hover{
      font-weight: 1700;
      font-size: 35px;
      color: #ff0c0c;
      
  }
  
  
  p{
      padding-bottom: 60px;
      color: #ffffff;
      text-align: center;
      font-family: Arial, sans-serif;
  }
  
  .prefooter-colm a{
      padding: 0px 0px 20px 100px;
      color: #c1baba;
      font-weight: bold;
      color: #fff;
  }
  
  .prefooter-colm a:hover{
      font-size: 17px;
      
  }
  
  .prefooter-colm h4:hover{
      font-size: 17px;
      text-decoration: underline;
      
  
  }
  .prefooter-colm p:hover{
      font-size: 17px;
      
  }
  
  .img{
      padding: 0px 0px 20px 100px;
  }
  
  
  .img1{
      padding: 0px 0px 20px 50px;
  }
  @media(max-width: 767px){
      .prefooter-colm{
        width: 50%;
        margin-bottom: 30px;
    }
    }
    @media(max-width: 574px){
      .prefooter-colm{
        width:100%;
      }
    }

    
.back-to-top-footer{
    height: 30vh;
    width: 100%;
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    overflow: hidden;
    flex-wrap: wrap;
    
}
.footer-col-back{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 50px ;
    padding-right: 1000px;
}

h4{
    font-family: Arial sans-serif;
    color: #ffffff;
}
.footer-col-back .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
    
}
.footer-col-back .social-links a:hover{
	color: #24262b;
	background-color: #ff0404;
}

.footer-col-back h4:hover{
	
	color: #ff0404;
}

.social-links{
    padding-left: 20px;
}


/*page 3*/

#page3{
    background-color: black;
    overflow-x: visible !important;
    height: fit-content;
    width: 100vw;
}

.secpg3{
    padding: 10px 5%;
    
}



.wrapper{
max-width: 85vw;
position: relative;

}

.wrapper i{
top:50%;
height: 46px;
width: 46px;
cursor: pointer;
position: absolute;
font-size: 1.2rem;
text-align: center;
line-height: 46px;
background-color: blanchedalmond;
border-radius: 50%;
transform: translateY(-50%); 
}
.wrapper i:first-child{
left: -23px;
display: none;
}

.wrapper i:last-child{
right: -23px;
}


.crouselpg2{
display: flex;
        align-items: center;
        justify-content: space-evenly;
        cursor: pointer;
        white-space: nowrap;
        overflow: hidden;
        scroll-behavior: smooth;
        padding-left: 1vw;
        
        padding-top: 1vw;
        padding-right: 1vw;

}

.crouselpg2.dragging{
cursor: grab;
scroll-behavior: auto;
}

@media screen and (max-width: 900px){
.crouselpg2 img{
width: calc(100% / 2);
}
}

@media screen and (max-width: 550px){
.crouselpg2 img{
width: 100%;
}
}



.crouselpg2 .cardpg3{
width:39vw;
background-color: #f4f4f4;
box-shadow: 0 10px 20px rgba(0,0,0,0.3);
border-radius: 5px;
padding: 15px;
margin-bottom: 20px;
margin-left: 3vw;

}

.cardpg3 img{
height:30vh;

width:17vw;
}

.cardpg3 .descpg3{
padding: 5px 20px;
opacity: 0.8;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.cardpg3 .titlepg3{
font-weight: 900;
font-size: 20px;
color:#424144;
padding:0 20px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.cardpg3 .boxpg3{
display:flex;
justify-content: space-between;
align-items: center;
padding: 20px;
}

.cardpg3 .boxpg3 .pricepg3{
color:crimson;
font-size: 20px;
font-weight: bold;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.cardpg3 .boxpg3 .btnpg3{ 
font-size: 13px;
color: #f63e4e;
padding: 10px 18px;
font-weight: 900; 
border: 1px solid  #f63e4e;
border-radius: 20px;
background-color: #f4f4f4;

}

.cardpg3 .boxpg3 .btnpg3:hover{ 
cursor: pointer; 

color: white;
font-size: 15px;

}


/* 

lower part of productsection 

*/


.wrapper2 {
    max-width: 85vw;
    position: relative;
}

.wrapper2 i {
    top: 50%;
    height: 46px;
    width: 46px;
    cursor: pointer;
    position: absolute;
    font-size: 1.2rem;
    text-align: center;
    line-height: 46px;
    background-color: blanchedalmond;
    border-radius: 50%;
    transform: translateY(-50%);
}

.wrapper2 i:first-child {
    left: -23px;
    display: none;
}

.wrapper2 i:last-child {
    right: -23px;
}

.carouselpg22 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    scroll-behavior: smooth;
    padding-left: 1vw;
    
    padding-top: 1vw;
    padding-right: 1vw;
    
}

.carouselpg22.dragging {
    cursor: grab;
    scroll-behavior: auto;
}

@media screen and (max-width: 900px) {
    .carouselpg22 img {
        width: calc(100% / 2);
    }
}

@media screen and (max-width: 550px) {
    .carouselpg22 img {
        width: 100%;
    }
}

.carouselpg22 .cardpg3 {
    width:39vw;
   background-color: #f4f4f4;
   box-shadow: 0 10px 20px rgba(0,0,0,0.3);
     border-radius: 5px;
  padding: 15px;
  margin-bottom: 20px;
   margin-left: 3vw;
}

#firstcard {
    margin-left: 0vw;
}






/*page 3 end*/

#page4{
    height: 50vh;
    width: 100vw;
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
    background-color:black;
}
#container{
    height: 100%;
    width: 100%;
    display: inline-block;
    margin-left: 1vw;
    padding: 2.5vw;
    padding-left: 1vw;
    padding-bottom: 4vh;
    animation-name: anime;
    animation-duration: 25s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

#page4 img{
    height: 100%;
    width: 15vw;
    margin: 1vw 2.5vw;
    border-radius: 25px;
    object-fit: cover;
    object-position: top;
    padding-bottom: 4vh;

}

@keyframes anime {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-110%);
    }
}


/*above-footer*/
.above-footer{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: black;
display:flex ;
justify-content: center;
    }

.above-footer-box{
width: 100%;
text-align: center;

}

.social-links ul {
    display: flex;
    justify-content: center;
flex-wrap: wrap;

}

.social-links a{
    text-decoration: none;
    padding:10px;
    background-color: #ffffff;
    margin: 10px;
   display: flex;
   justify-content: center;
   border-radius: 50%;
   box-shadow: 0px 5px 4px rgba(0,0,0,0.5);
}

.social-links a i{
    font-size: 2em;
    color:black;
    opacity: 0.9;

}
.social-links ul li a:hover{
    background-color: #e91e63;
    transition: 0.5s ease;
    transform: translate(0,-10px);
}

.social-links  i:hover{
    color: white;
transition: 0.5s ease;

}

.above-footer-txt p{
    
    color: #b4c1ce;
    font-size:small;
}

hr{
    opacity: 0;
}



/*footer*/
.footer-page6{
margin: 0;
padding: 0;
box-sizing: border-box;
background:#24262b;
padding: 70px 0px;
}

.container-page6{
    max-width: 1170px;
    margin: auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

ul{
    list-style: none;
}

.footer-col{
    width: 25%;
    padding: 0px 15px ;
}


img{
    height:15vh;
}

.logo{
padding-left: 2.5vh;

}
 
.mailtxt{
    color:#ffffff;
    font-size:3vh;
    padding-top: 3vh;
    padding-bottom: 0.5vh;
    padding-left: 2.5vh;
}



.footer-col  .form{
    display: flex;
    justify-content: center;
    padding: 0rem 0;
    display: flex;
    flex-wrap: wrap;
}
    
    
    
    .footer-col  .form  input{
    
      background-color: rgb(66, 64, 62);
    border: 0;
    outline: none;
    padding: 14px  20px;
    border-radius: 6px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    color: #ffffff;

    
    }
    
    .form button{
      padding: 14px;
      border: 0;
      border-radius: 6px;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      background-color: #e91e63;
    }

    .form button:hover {
        background-color: #ffffff;
       
    }


    .form button:hover {
        background-color: #ffffff;
       
    }




    .form button i:hover {
    color: #e91e63;

    }




.footer-col h4{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 5;
    position: relative;

}

.footer-col h4::before{
content: ' ' ;
position: absolute;
left: 0;
bottom: -10px;
background-color: #e91e63;
height: 2px;
box-sizing: border-box;
width: 50px;

}

.footer-col ul li :not(last-child){
    margin-bottom: 10px;

}

.footer-col div:not(last-child){
    margin-bottom: 10px;

}

.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;

}

.footer-col ul li a:hover{

    padding-left: 8px;
    color: #e91e63;

}

.footer-col div a{
    font-size: 16px;
    text-transform: capitalize;
    color: #bbbbbb;
    text-decoration: none;
    font-weight: 300;
    display: block;
    transition: all 0.3s ease;
}

.footer-col div a:hover{

    padding-left: 8px;
    color: #e91e63;

}

.footer-col div i{
    font-size: 16px;
    color: #ffffff;
    padding-right: 8px;
}

.contact-details {
    display: flex;
}


.contact-details i{
align-items:center;
display: flex;

}



/*responsive*/
@media(max-width:767px){
    .footer-col{
        width: 50%;
    margin-bottom: 30px;
}
}

@media(max-width:574px){
    .footer-col{
        width: 100%;
    }
}




/*scroll-to-top-button*/

#scrollToTopBtn {
    display: none; 
    position: fixed; 
    bottom: 20px; 
    right: 30px; 
    z-index: 99; 
    border: none; 
    outline: none; 
    background-color:#333;
    color: #e91e63; 
    cursor: pointer; 
    padding: 15px; 
    border-radius: 50%; 
    font-size: 16px; 
    box-shadow: 0px 5px 4px rgba(0,0,0,0.5);
}


#scrollToTopBtn:hover {
 background-color: black; 
color:rgb(255, 255, 255);
transition: 0.2s ease;

}


/* Style the icon inside the button */
#scrollToTopBtn .fas {
    font-size: 25px;
}
 

.container6 {
  position: relative;
  overflow: hidden;
  background-color: black;
  height: 100vh;
  width: 100vw;

}
.c,
.d {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.d {
  position: absolute;
  display: flex;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.container6 img {
  height: 90vh;

}

.c img {
  height: 80vh;
  width: 28vw;
}

.d_right {
  margin-left: -21px;
}

#page_8{
    height: 100vh;
    width: 100vw; 
    background-image: url(./images/green\ robot.jpg);
    background-size: cover;
    background-position: top; 
    opacity: 1;
     
}

#page_8  video{
    height: 80%;
    width: 90%;
    object-fit: cover;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 4.5vw;
    border-radius: 50px;
}


